@font-face {
  src: url('../fonts/public-sans-v11-latin-100.woff2') format('woff2'),
  url('../fonts/public-sans-v11-latin-100.woff') format('woff');
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 100;
}

@font-face {
  src: url('../fonts/public-sans-v11-latin-regular.woff2') format('woff2'),
  url('../fonts/public-sans-v11-latin-regular.woff') format('woff');
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url('../fonts/public-sans-v11-latin-500.woff2') format('woff2'),
  url('../fonts/public-sans-v11-latin-500.woff') format('woff');
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 500;
}