html {
	height: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	scroll-behavior: smooth;
}


body {
	position: relative;
	font-family: 'Public Sans';
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
