.finance{
  background-color: #F4F5F7;
  padding: 95px 0;
}

.finance__info{
  width: 636px;
}

.finance__title{
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.714286px;
  color: $main-title-color;
  margin: 0;
  margin-bottom: 16px;
}

.finance__text{
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  color: $main-text-color;
  margin: 0;
  margin-bottom: 72px;
}

.finance__list{
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.finance__item{
  width: 255px;
  padding-top: 72px;
}

.finance__item + .finance__item{
  margin-left: 30px;
}

.finance__item:nth-child(1){
  position: relative;

  &::before{
    content: "";
    width: 72px;
    height: 72px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../../images/online-banking.png");
    background-repeat: no-repeat;
  }
}

.finance__item:nth-child(2){
  position: relative;

  &::before{
    content: "";
    width: 72px;
    height: 72px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../../images/budgeting.png");
    background-repeat: no-repeat;
  }
}

.finance__item:nth-child(3){
  position: relative;

  &::before{
    content: "";
    width: 72px;
    height: 72px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../../images/onboarding.png");
    background-repeat: no-repeat;
  }
}

.finance__item:nth-child(4){
  position: relative;

  &::before{
    content: "";
    width: 72px;
    height: 72px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../../images/api.png");
    background-repeat: no-repeat;
  }
}

.finance__subtitle{
  font-weight: 100;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.428571px;
  color: $main-text-color;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 26px;
}

.finance__subtext{
  line-height: 26px;
  letter-spacing: -0.25px;
  color: $main-text-color;
}



@media only  screen and (max-width: 426px){

  .finance{
    padding: 64px 0;
  }

  .finance__info{
    width: 100%;
    text-align: center;
  }

  .finance__title{
    font-size: 32px;
    line-height: 38px;
  }

  .finance__text{
    font-size: 15px;
    line-height: 25px;
  }

  .finance__list{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .finance__item + .finance__item{
    margin-left: 0;
  }


  .finance__item {
    text-align: center;
    margin-bottom: 32px;

    &::before{
      left: 0;
      right:0 ;
      margin: 0 auto;
    }
  }

  .finance__subtitle{
    font-size: 20px;
    line-height: 28px;
  }

  .finance__subtext{
    font-size: 15px;
    line-height: 25px;
  }
}